.u-section-1 {
  background-image: linear-gradient(to right, #f2f2f2, rgba(228,93,27,0.91));
}

.u-section-1 .u-sheet-1 {
  min-height: 1481px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 953px;
  margin: 47px auto 13px 82px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 710px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 100px;
}

.u-section-1 .u-image-1 {
  width: 372px;
  height: 434px;
  animation-duration: 1000ms;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: -10px -99px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 411px;
  height: 365px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 39px auto -177px -136px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 646px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 332px;
  height: 500px;
  animation-duration: 1000ms;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 166px auto -77px -48px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 376px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 30px 100px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 1px 0 auto;
}

.u-section-1 .u-image-4 {
  height: 308px;
  width: 526px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px auto -111px -92px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-5 {
  width: 639px;
  height: 334px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 117px auto 0 -75px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 652px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 468px;
  height: 454px;
  margin: 44px -8px 0 36px;
}

.u-section-1 .u-text-3 {
  z-index: 99999;
  animation-duration: 2750ms;
  margin: 69px -61px -137px 61px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 861px;
  }

  .u-section-1 .u-image-1 {
    width: 377px;
    height: 493px;
  }

  .u-section-1 .u-image-2 {
    width: 375px;
    height: 318px;
    margin: -31px -47px 0 auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 245px;
    width: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 505px;
  }

  .u-section-1 .u-image-5 {
    width: 370px;
    height: 185px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 643px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 32px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 659px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 412px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 252px;
    height: 214px;
    margin-top: 148px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 488px;
  }

  .u-section-1 .u-image-3 {
    width: 240px;
    height: 361px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
  }

  .u-section-1 .u-image-4 {
    height: 234px;
    width: 360px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 387px;
  }

  .u-section-1 .u-image-5 {
    width: 269px;
    height: 135px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    width: 360px;
    height: 349px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1186px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 416px;
    height: 580px;
    margin-bottom: -168px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 878px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 328px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 740px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 446px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 117px;
    margin-right: auto;
    margin-bottom: -97px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 403px;
  }

  .u-section-1 .u-image-4 {
    height: 204px;
    width: 280px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 312px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-left: 36px;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 310px;
  }
}.u-section-2 {
  background-image: linear-gradient(to right, white, rgba(228,93,27,0.91));
}

.u-section-2 .u-sheet-1 {
  min-height: 594px;
}

.u-section-2 .u-gallery-1 {
  height: 364px;
  grid-gap: 17px 17px;
  margin: 94px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 43px auto 47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-gallery-1 {
    height: 300px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-2 .u-gallery-1 {
    height: 689px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1550px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-2 .u-gallery-1 {
    height: 976px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: linear-gradient(to right, white, rgba(228,93,27,0.91));
}

.u-section-3 .u-sheet-1 {
  min-height: 610px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 13px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-video-1 {
  animation-duration: 1000ms;
}

.u-section-3 .u-video-2 {
  min-height: 400px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-video-2 {
    min-height: 253px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-video-2 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-video-2 {
    min-height: 239px;
  }
}