.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/54e5dc424255a814f6da8c7dda793678153bdee757596c48732f7cd3904fc659bf_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 77px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 56px 660px 0 -40px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 77px auto 60px 136px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 560px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 260px;
  }
}.u-section-2 {
  background-image: linear-gradient(to right, white, #f5d654);
}

.u-section-2 .u-sheet-1 {
  min-height: 529px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 14px 64px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 409px;
  background-image: url("images/27951.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 59px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 415px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-2 .u-image-1 {
    min-height: 366px;
  }
}.u-section-3 {
  background-image: linear-gradient(to right, white, #f5d654);
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 65px auto 31px 0;
}

.u-section-3 .u-image-1 {
  min-height: 358px;
  background-image: url("images/Mysorepalace_20181210115755.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 358px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 358px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 65px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 358px;
  background-image: url("images/2774566945_f579dacac1_o_20181210113014.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 315px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-3 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 {
  background-image: linear-gradient(to right, white, #f5d654);
}

.u-section-4 .u-sheet-1 {
  min-height: 397px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 347px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 44px -35px 0 545px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 360px;
  animation-duration: 1000ms;
  margin: -246px auto 0 -60px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: -280px -40px 0 550px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 145px;
    margin-left: 460px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 345px;
    height: 218px;
    margin-top: -347px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -684px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 410px;
  }

  .u-section-4 .u-image-1 {
    width: 295px;
    height: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 210px;
  }
}.u-section-5 {
  background-image: linear-gradient(to right, white, #f5d654);
}

.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-5 .u-repeater-1 {
  min-height: 622px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  margin: 30px auto 6px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 6px;
}

.u-section-5 .u-image-1 {
  height: 329px;
  width: 320px;
  margin: 0 -6px 0 6px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 6px;
}

.u-section-5 .u-image-2 {
  height: 329px;
  width: 320px;
  margin: 0 -6px 0 6px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-5 .u-btn-2 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 6px;
}

.u-section-5 .u-image-3 {
  height: 329px;
  width: 320px;
  margin: 0 -6px 0 6px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-5 .u-btn-3 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 573px;
    grid-template-columns: repeat(3, 33.333333333333336%);
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: -6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: -3px;
  }

  .u-section-5 .u-text-5 {
    margin-left: -6px;
  }

  .u-section-5 .u-text-6 {
    margin-left: -3px;
  }

  .u-section-5 .u-text-7 {
    margin-left: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1317px;
    grid-template-columns: repeat(2, 50%);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: -4px;
  }

  .u-section-5 .u-text-4 {
    margin-left: -2px;
  }

  .u-section-5 .u-text-5 {
    margin-left: -4px;
  }

  .u-section-5 .u-text-6 {
    margin-left: -2px;
  }

  .u-section-5 .u-text-7 {
    margin-left: -4px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: -3px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-left: -3px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-left: -3px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-3 {
    margin-left: -2px;
  }

  .u-section-5 .u-text-4 {
    margin-left: -1px;
  }

  .u-section-5 .u-text-5 {
    margin-left: -2px;
  }

  .u-section-5 .u-text-6 {
    margin-left: -1px;
  }

  .u-section-5 .u-text-7 {
    margin-left: -2px;
  }
}.u-section-6 {
  background-image: linear-gradient(to right, white, #f5d654);
}

.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 39px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 533px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-6 .u-line-1 {
  width: 43px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-6 .u-form-1 {
  margin: 30px 69px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 258px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 18px 2px 0 0;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 31px 0 0;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  margin: 18px 2px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 392px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 569px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-6 .u-form-1 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 393px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 162px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 575px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 484px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 284px;
  }
}